
.feature-section-class{
    padding: 2px 2px;
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
    font-size: 14px;
  }

  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.feature-class{
    padding:1rem 1rem;
}

.button-wh-70-50{
    width: 70px;
    height: 50px;   
  }

.sidebar{
    background-color:white;
    min-height: 800px;
}

.form-class{
    padding:1rem 1rem;
    width: 100%; 
}

.sidebar-feature-class{
    padding: 15px 15px;
    text-align: center;
    background-color: rgb(241, 237, 237);
}

.list-features-class{
    width: 100%; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px lightgrey inset;
}

.button-wh-150-50{
    width: 160px;
    height: 50px;   
}

.feature{
    background-color: rgb(241, 237, 237);
    padding:1rem 1rem;
    width: 100%;  
}

.scenario{
    background-color:white;
    padding:10px 10px 10px 10px;
    width: 100%;  
}

.step{
    background-color: rgb(241, 237, 237);
    padding:1rem 1rem;
    width: 100%;  
}

mat-form-field {
    width: 100%;
    padding:0px 0px 0px 0px;
    //font-size: 16px;
}

span[matPrefix]{
    //font-size: 26px;
    color: lightgrey
  }
.prefixClass{
    padding: 0px 0 0px 5px;
    color: red;
    font-size: 14px;
}

.word-wrap{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 60% !important;
    width: 60% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    
    }

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
.ic-size-16 {
    @include md-icon-size(16px);
    padding: 2px 2px 5px 2px;
}

.ic-size-18 {
    @include md-icon-size(18px);
    padding: 2px 2px 5px 2px;
}

mat-icon:hover{
   background-color:lightgrey;
}




