<div fxLayout fxLayoutAlign="center center" class="feature-accordian-class">
  <mat-accordion class="accordian-headers-align">

    <mat-expansion-panel hideToggle="true">

      <mat-expansion-panel-header>
        <mat-panel-title>Features</mat-panel-title>
        <mat-icon color="primary">view_list</mat-icon>
      </mat-expansion-panel-header>

      <app-acc-feature></app-acc-feature>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Scenarios</mat-panel-title>
        <mat-icon color="primary">speaker_notes</mat-icon>
      </mat-expansion-panel-header>
    </mat-expansion-panel>


    <mat-expansion-panel hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Steps</mat-panel-title>
        <mat-icon color="primary">playlist_add_check</mat-icon>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  </mat-accordion>
</div>