
.accordian-headers-align {
    width: 100%;
  }
  
  mat-panel-description{
    //font-size: 20px;
    //text-align: center;
  }

.feature-accordian-class{
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
}
