<mat-toolbar color="primary">
  <div>
    <button mat-icon-button>
      <mat-icon>playlist_add_check</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">TestMe</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end">
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a routerLink="/features">Features</a>
      </li>
      <li>
        <a routerLink="/reports">Reports</a>
      </li>
      <li>
        <a routerLink="/run-feature">Run</a>
      </li>
    </ul>
  </div>
</mat-toolbar>  
