<section class="edit-dialog-body">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div class="tagSelection">
            <p class="alignCenter font-18">Receive Data</p>
            <p class="alignLeft font-14">Scenario : {{scenarioText}}</p>
            <p class="alignLeft font-14">Step : {{stepText}}</p>
        </div>

        <div fxLayout fxLayoutGap="10px" fxLayoutAlign="center">
            <mat-chip-list>
                <mat-chip [selected]="isCurrentSection('destination')" (click)="showSection('destination')">Message destination</mat-chip>
                <mat-chip [selected]="isCurrentSection('addNewAssert')" (click)="showSection('addNewAssert')">Add new assert condtion</mat-chip>
                <mat-chip [selected]="isCurrentSection('viewAsserts')" (click)="showSection('viewAsserts')">View modify assert condtions</mat-chip>
            </mat-chip-list>
        </div>

        <div fxLayout fxLayoutGap="10px" *ngIf="isCurrentSection('destination')">
            <mat-form-field>
                <input matInput [(ngModel)]="messageDestination">
                <!-- <span matPrefix>Destination Queue : </span> -->
                <mat-hint>Enter destination queue name</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="messageFilter">
                <!-- <span matPrefix>Message Filter : </span> -->
                <mat-hint>Enter message filter</mat-hint>
            </mat-form-field>
            <button color="primary" mat-fab (click)="saveDestination()">
                <mat-icon>save</mat-icon>
            </button>

        </div>

        <div fxLayout="column" fxLayoutGap="10px" *ngIf="isCurrentSection('addNewAssert')">
            <mat-form-field>
                <textarea matInput [(ngModel)]="xpath"></textarea>
                <!-- <span matPrefix>Destination Queue : </span> -->
                <mat-hint>Enter xpath for actuval value</mat-hint>
            </mat-form-field>
            <div fxLayout fxLayoutGap="10px">
                <mat-form-field>
                    <mat-select [(ngModel)]="condition">
                        <mat-option *ngFor="let operator of operators" [value]="operator">
                            {{ operator }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>Comparison operator</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="expectedValue">
                    <!-- <span matPrefix>Message Filter : </span> -->
                    <mat-hint>Expected value</mat-hint>
                </mat-form-field>
                <button color="primary" mat-fab (click)="saveAssert()">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </div>

        <div *ngIf="isCurrentSection('viewAsserts')" class="table-class">

            <table mat-table [dataSource]="receiveMessage.asserts" class="mat-elevation-z8">
                <ng-container matColumnDef="Xpath">
                    <th mat-header-cell *matHeaderCellDef> Xpath </th>
                    <td mat-cell *matCellDef="let element"> {{element.xpath}} </td>
                </ng-container>

                <ng-container matColumnDef="Condition">
                    <th mat-header-cell *matHeaderCellDef> Condition </th>
                    <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
                </ng-container>

                <ng-container matColumnDef="Value">
                    <th mat-header-cell *matHeaderCellDef> Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="deleteAssert(assert.id)">
                            <mat-icon class="ic-size-16" color="primary">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <!-- <table class="mat-table mat-elevation-z8">
                <thead>
                    <tr class="mat-header-row">
                        <th class="mat-header-cell"> Xpath</th>
                        <th class="mat-header-cell"> Condition </th>
                        <th class="mat-header-cell"> Value </th>
                        <th class="mat-header-cell"> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="mat-row" *ngFor="let assert of receiveMessage.asserts">
                        <td class="mat-cell"> {{assert.xpath}} </td>
                        <td class="mat-cell"> {{assert.condition}} </td>
                        <td class="mat-cell"> {{assert.value}} </td>
                        <td class="mat-cell">
                            <a routerLink="." (click)="deleteAssert(assert.id)">
                                <mat-icon class="ic-size-16" color="primary">delete</mat-icon>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table> -->

            <!-- <div fxLayout fxLayoutGap="10px" *ngFor="let assert of receiveMessage.asserts">
                <div fxLayout fxLayoutGap="20px">
                    <a routerLink="." (click)="deleteAssert(assert.id)">
                        <mat-icon class="ic-size-16" color="primary">delete</mat-icon>
                    </a>
                    <div>{{assert.xpath}}</div>
                    <div>{{assert.condition}}</div>
                    <div>{{assert.value}}</div>
                </div>
            </div> -->

        </div>

        <div fxLayout fxLayoutGap="5px" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="close()">Cancel</button>
            <button mat-raised-button color="primary" (click)="done()">Done</button>
        </div>
    </div>
</section>