<section class="edit-dialog-body">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px">
        <div class="tagSelection">
            <p class="alignCenter font-18">Receive Data</p>
            <p class="alignLeft font-14">Scenario : {{scenarioText}}</p>
            <p class="alignLeft font-14">Step : {{stepText}}</p>
        </div>

        <div fxLayout fxLayoutGap="10px" fxLayoutAlign="center">
            <mat-chip-list>
                <mat-chip [selected]="isCurrentSection('destination')" (click)="showSection('destination')">Message Destination</mat-chip>
                <mat-chip [selected]="isCurrentSection('addNewAssert')" (click)="showSection('addNewAssert')">{{assertCaption}}</mat-chip>
                <mat-chip [selected]="isCurrentSection('viewAsserts')" (click)="showSection('viewAsserts')">View/Edit Assert</mat-chip>
                <mat-chip [selected]="receiveConfigExists" (click)="clearReceiveConfig()" *ngIf="receiveConfigExists">Clear</mat-chip>
            </mat-chip-list>
        </div>

        <div *ngIf="isCurrentSection('destination')">
            <form fxLayoutGap="10px" [formGroup]="messageDestinationForm" fxLayoutAlign="center" (ngSubmit)="saveDestination()">
                <mat-form-field>
                    <input matInput formControlName="destination">
                    <mat-hint>Enter destination queue name</mat-hint>
                    <mat-error>Please enter destination</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="filter">
                    <mat-hint>Enter message filter</mat-hint>
                    <mat-error>Please enter filter</mat-error>
                </mat-form-field>
                <button type="submit" color="primary" mat-fab [disabled]="messageDestinationForm.pristine">
                    <mat-icon>save</mat-icon>
                </button>
            </form>
        </div>

        <div *ngIf="isCurrentSection('addNewAssert')">
            <form fxLayout="column" fxLayoutGap="10px" [formGroup]="assetForm" fxLayoutAlign="center" (ngSubmit)="saveAssert()">
                <mat-form-field>
                    <textarea matInput formControlName="xpath"></textarea>
                    <mat-hint>Enter xpath for actuval value</mat-hint>
                    <mat-error>Please enter xpath value</mat-error>
                </mat-form-field>
                <div fxLayout fxLayoutGap="10px">
                    <mat-form-field>
                        <mat-select formControlName="condition">
                            <mat-option *ngFor="let operator of operators" [value]="operator">
                                {{ operator }}
                            </mat-option>
                        </mat-select>
                        <mat-hint>Comparison operator</mat-hint>
                        <mat-error>Please select operator</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput formControlName="expectedValue">
                        <mat-hint>Expected value</mat-hint>
                        <mat-error>Please enter expected value</mat-error>
                    </mat-form-field>
                    <button type="submit" color="primary" mat-fab *ngIf="isVisible()" [disabled]="assetForm.pristine">
                        <mat-icon>{{assertIcon()}}</mat-icon>
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="isCurrentSection('viewAsserts')" class="table-class">

            <table fxFlex="100%" mat-table [dataSource]="receiveMessage.asserts" class="mat-elevation-z8">
                <ng-container matColumnDef="Xpath">
                    <th mat-header-cell *matHeaderCellDef> Xpath </th>
                    <td mat-cell *matCellDef="let element"> {{element.xpath}} </td>
                </ng-container>

                <ng-container matColumnDef="Condition">
                    <th mat-header-cell *matHeaderCellDef> Condition </th>
                    <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
                </ng-container>

                <ng-container matColumnDef="Value">
                    <th mat-header-cell *matHeaderCellDef> Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="deleteAssert(element.id)">
                            <mat-icon class="ic-size-16" color="primary">delete</mat-icon>
                        </button>
                        <button mat-button (click)="modifyAssert(element.id)">
                            <mat-icon class="ic-size-16" color="primary">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div fxLayout fxLayoutGap="5px" fxLayoutAlign="center">
            <button mat-raised-button color="primary" (click)="done()">Done</button>
            <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </div>
    </div>
</section>