/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }
  
  body {
    margin: 0;
  }
  /* This to avoid the yellow background whilst doing auto complete of the input fields*/
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
